<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="/common/layout_main">
<head>
    <title th:text="${channel.name}"></title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-header">
        <h2 th:text="${channel.name}"> </h2>
    </div>

    <ul>
        <li th:each="item: ${model.content}">
            <a th:href="'/article/' + ${item.id}">
                <h4>
                    <span th:text="${item.title}"></span>
                </h4>
            </a>
        </li>
    </ul>
</div>
</body>
</html>