<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="/common/layout_main">
<head>
    <title>About</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-header">
        <h2 th:text="${model.title}"> </h2>
    </div>

    <div th:utext="${model.content}"></div>
    <hr />
    <th:block th:each="item: ${model.attachments}">
        <a class="tag tag-inline" th:href="@{'/files/' + ${item.uuid}}" target="_blank">
            <span th:text="${item.name}"></span>.<span th:text="${item.extName}"></span>
        </a>
    </th:block>
</div>
</body>
</html>