<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="/common/layout_main">
<head>
    <title>Search</title>
</head>
<body>
<div layout:fragment="content">
    <div class="page-header">
        <h2>
            <span th:text="#{common.searchFor}"></span>
            <b th:text="${keywords}"></b>
        </h2>
    </div>

    <ul>
        <li th:each="item: ${model}">
            <a th:href="@{/{catalog}/{title}(catalog=${#strings.toLowerCase(item.catalog)}, title=${item.titleKey})}">
                <span th:text="${item.title}"></span>
            </a>
        </li>
    </ul>
</div>
</body>
</html>