<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Web
	Framework</title>
<link href="/static/assets/img/logo.png" rel="shortcut icon">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/css/common.css" />
</head>
<body>
	<header class="navbar navbar-default navbar-static-top" id="top">
		<div class="container">
			<div class="navbar-header">
				<button aria-controls="bs-navbar" aria-expanded="false"
					class="collapsed navbar-toggle" data-target="#bs-navbar"
					data-toggle="collapse" type="button">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="/" class="navbar-brand">BNDY.NET</a>
			</div>
			<nav class="collapse navbar-collapse" id="bs-navbar">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/docs/api}">API Documentation</a></li>
					<li th:each="m: ${cms_menus}">
                        <a th:href="${m.url}"
						   th:attr="data-toggle=${m.children!=null and m.children.size() > 0} ? 'dropdown' : null, aria-haspopup='true', aria-expanded='false'">
                            <span th:text="${m.name}"></span>
							<span class="caret" th:if="${m.children!=null and m.children.size() > 0}"></span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="dLabel" th:if="${m.children!=null and m.children.size() > 0}">
							<li th:each="child: ${m.children}">
								<a th:href="${child.url}" th:text="${child.name}"></a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li th:if="${#authorization.expression('isAuthenticated()')}">
						<a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<img class="circle" th:src="${user.avatar}" />
                            <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
							[<span th:text="${#strings.listJoin(user.getRoleNames(),',')}"></span>]
                            <span class="caret"></span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="dLabel">
							<li><a href="/admin/">Admin Panel</a></li>
							<li><a href="/sso/logout">Sign Out</a></li>
						</ul>
					</li>
                    <li th:unless="${#authorization.expression('isAuthenticated()')}">
						<a href="/admin/">Admin Panel</a>
					</li>
				</ul>
				<form action="/search" method="get" class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input name="q" type="text" class="form-control" required th:placeholder="#{common.searchPlaceholder}">
					</div>
					<button type="submit" class="btn btn-default" th:text="#{common.search}"></button>
				</form>
			</nav>
		</div>
	</header>

	<div class="main" style="min-height:calc(100vh - 180px);">
		<div class="container">
			<div layout:fragment="content"></div>
		</div>
	</div>

	<div class="container text-center">
		<br />
		<hr />
		<div th:replace="common/footer"></div>
		<br />
	</div>

<script type="text/javascript"
	src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<th:block layout:fragment="scripts"></th:block>
</body>
</html>