@import "variables";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  &.with-border {
    border-bottom: #dddddd 1px solid;
    padding-bottom: .5rem;
  }
}

a {
  cursor: pointer;
}

table {
  width: 100%;
}

img {
  &.stretch {
    width: 100%;
    height: 100%;
  }
  &.radius {
    border-radius: 5px;
  }
  &.shadow {
    box-shadow: 0 0 10px #ddd;
  }
  &.circle {
    border-radius: 50%;
  }
}

:focus {
  outline: none;
}

.margin {
  margin: 15px;
}

.margin-sm {
  margin: 10px;
}

.margin-xs {
  margin: 5px;
}

.no-margin {
  margin: 0;
}

.padding {
  padding: 15px;
}

.padding-sm {
  padding: 10px;
}

.padding-xs {
  padding: 5px;
}

.no-padding {
  padding: 0;
}

.no-scroll {
  overflow: hidden;
}

.col-icon {
  width: 26px;
}

.hover {
  &:hover {
    background-color: #f5f5f5;
  }
}

.highlight {
  color: red;
  font-weight: bold;
}

/* angularjs */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* bootstrap */
.text-warning {
  color: $color-warning;
}

.navbar {
  .nav {
    li {
      a {
        img {
          position: relative;
          height: 32px;
          margin: -15px 0;
        }
      }
    }
  }
}

.modal-dialog {
  .modal-content {
    .modal-body {
      max-height: 50vh;
      overflow: auto;
    }
  }
}

.label {
  position: relative;
  top: -.2em;
  font-weight: normal;
  font-size: 80%;
}

.input-group {
  .input-group-btn:first-child {
    .btn {
      position: relative;
      margin-right: -1px;
    }
  }
}

.form-control {
  & + .inline-btn {
    position: absolute;
    margin: 6px 0 0 -24px;
    padding: 0;
    z-index: 999;
    background: none;
    border: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;

    &:hover {
      background-color: #dedede;
    }
    
    span, i {
      display: block;
      position: relative;
      margin-top: -2px;
    }
    
    i {
      font-size: .75rem;
    }
  }
}

.row {
  &.middle {
    display: flex;
    &>div {
      vertical-align: middle;
    }
  }
}

.btn:focus,
.btn:active:focus {
  outline: none;
}

.media-object {
  border-radius: 4px;
  width: 40px;
}

.list-group-item {
  .pull-right {
    position: absolute;
    right: 1rem;
    top: 15px;
  }
}

/* others */
.page-onebox {
  height: 100vh;
  overflow: hidden;
  background-color: #d2d6de;
  text-align: center;

  .box {
    margin: 10% auto 1.5rem auto;
    width: 360px;
    background-color: #ffffff;

    .logo {
      width: 50%;
      margin-bottom: 2rem;
      font-size: 5rem;
    }

    .title {
      font-size: 1.25rem;
      margin-bottom: 1.25rem;
    }

    .box-body {
      padding: 2rem;
    }
  }
}

.tree {
  .tree-item {
    margin-top: 3px;
    padding: 5px 10px 3px 10px;

    &.with-border {
      border-bottom: solid 1px #dedede;
    }

    &.disabled {
      color: #aaaaaa;
    }
    
    &.active {
      background-color: #3c8dbc;
      color: #ffffff;

      a {
        color: #ffffff;
      }
    }

    & + .child-box {
      margin-left: 2rem;
    }
  }
}

.text-block {
    padding-top: 8px;
}

.nowrap {
  white-space: nowrap;
}

.icon-group {
  i {
    padding: 2px 3px;
    margin: 0 5px;
  }
}

.img-list {
	margin: 0 -1rem;

	img {
		display: inline-block;
		height: 40px;
		margin: 1rem;
	}
}

.tag {
  padding: 6px 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  background-color: #efefef;
  border-radius: 3px;

  a {
    margin-left: 5px;
  }

  i {
    font-size: .8rem;
  }
  
  &.tag-inline {
    display: inline-block;
  }

  &.primary {
    background-color: $color-primary;
    color: #ffffff;
    a {
      color: #ffffff;
    }
  }

  &.success {
    background-color: $color-success;
    color: #ffffff;
    a {
      color: #ffffff;
    }
  }

  &.warning {
    background-color: $color-warning;
    color: #ffffff;
    a {
      color: #ffffff;
    }
  }

  &.danger {
    background-color: $color-danger;
    a {
      color: #ffffff;
    }
  }
}

.hover {
  .hover-target {
    display: none;
  }

  &:hover {
    .hover-target {
      display: block;
    }
  }
}