html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  &.with-border {
    border-bottom: #dddddd 1px solid;
    padding-bottom: .5rem;
  }
}

a {
  cursor: pointer;
}

img {
  &.stretch {
    width: 100%;
    height: 100%;
  }
  &.radius {
    border-radius: 5px;
  }
  &.shadow {
    box-shadow: 0 0 10px #ddd;
  }
  &.circle {
    border-radius: 50%;
  }
}

:focus {
  outline: none;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.no-scroll {
  overflow: hidden;
}

.col-icon {
  width: 26px;
}

.hover {
  &:hover {
    background-color: #f5f5f5;
  }
}

.highlight {
  color: red;
  font-weight: bold;
}

/* bootstrap */

.navbar {
  .nav {
    li {
      a {
        img {
          position: relative;
          height: 32px;
          margin: -15px 0;
        }
      }
    }
  }
}

.label {
  position: relative;
  top: -.2em;
  font-weight: normal;
  font-size: 60%;
}

.input-group {
  .input-group-btn:first-child {
    .btn {
      position: relative;
      margin-right: -1px;
    }
  }
}

.form-control {
  & + .inline-btn {
    position: absolute;
    margin: 6px 0 0 -24px;
    padding: 0;
    z-index: 999;
    background: none;
    border: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;

    &:hover {
      background-color: #dedede;
    }
    
    span, i {
      display: block;
      position: relative;
      margin-top: -2px;
    }
    
    i {
      font-size: .75rem;
    }
  }
}

.row {
  &.middle {
    display: flex;
    &>div {
      vertical-align: middle;
    }
  }
}

.btn:focus,
.btn:active:focus {
  outline: none;
}

.media-object {
  border-radius: 4px;
  width: 40px;
}

.list-group-item {
  .pull-right {
    position: absolute;
    right: 1rem;
    top: 15px;
  }
}

/* others */
.page-onebox {
  height: 100vh;
  overflow: hidden;
  background-color: #d2d6de;

  .panel {
    width: 360px;
    margin: 10% auto 0 auto;
    border: none;

    img.logo {
      width: 50%;
    }

    &.panel-danger {
      box-shadow: 0 0 5px rgba(255, 0, 0, .4);
    }
  }
}

.tree {
  .tree-item {
    padding: 5px 0;

    &.with-border {
      border-bottom: solid 1px #dedede;
    }

    &.disabled {
      color: #aaaaaa;
    }
    
    &.active {
      background-color: #3c8dbc;
      color: #ffffff;

      a {
        color: #ffffff;
      }
    }

    & + .child-box {
      margin-left: 2rem;
    }
  }
}

.icon-group {
  i {
    padding: 2px 3px;
    margin: 0 5px;
  }
}