.register-page, .login-page {

    .login-box, .register-box {
        margin-bottom: 15px;

        .login-logo, .register-logo {

            img {
                width: 160px;
            }
        }
    }

    footer {
        text-align: center;
    }
}