<div ng-controller="ApplicationsCtrl">
    <ui-page-header title="'admin.modules.core.applications.title'"
                    subtitle="'admin.modules.core.applications.subtitle'"
                    breadcrumbs="[{'text': 'admin.modules.core.applications.title'}]"></ui-page-header>
    <ui-page-content>
        <ui-page-content-header-right>
            <button type="button" class="btn btn-sm btn-primary" ng-click="add()">
                <i class="fa fa-fw fa-plus-circle"></i>
                <span ng-bind="'admin.modules.core.applications.addApp'|translate"></span>
            </button>
        </ui-page-content-header-right>

        <div class="media hover padding-xs" ng-repeat="item in data">
            <div class="media-left">
                <img class="media-object" ng-src="{{item.icon}}" style="width: 64px;" onerror="this.src='../static/assets/img/no-pic.png'"/>
            </div>
            <div class="media-body">
                <div class="pull-right">
                    <button class="btn btn-xs btn-primary"
                            ng-click="edit(item)">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                    <button class="btn btn-xs btn-danger"
                            ng-click="remove(item, $event)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </button>
                </div>

                <h4 class="media-heading">
                    <span ng-bind="item.name"></span>
                </h4>

                <div ng-if="item.details.scope">
                    <label ng-bind="'admin.modules.core.applications.fieldScope'|translate"></label>:
                    <span class="btn-group">
                               <a target="_blank" class="btn btn-default btn-xs btn-flag"
                                  ng-href="/oauth/authorize?response_type=code&scope={{scope}}&client_id={{item.details.clientId}}&redirect_uri={{item.details.webServerRedirectUri}}"
                                  ng-repeat="scope in item.details.scope.split(',')" ng-bind="scope"></a>
                               </span>
                </div>

                <div>
                    <label ng-bind="'admin.modules.core.applications.fieldClientId'|translate"></label>:
                    <span>{{item.details.clientId}}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <label ng-bind="'admin.modules.core.applications.fieldClientSecret'|translate"></label>:
                    <span>{{item.details.clientSecret}}</span>
                </div>

                <div ng-if="item.approvals.length > 0">
                               <span class="badge"
                                     title="{{'admin.modules.core.applications.iAuthorized'|translate}}"
                                     ng-class="{'bg-green': approval.status == 'APPROVED', 'bg-red': approval.status == 'DENIED'}"
                                     ng-repeat="approval in item.approvals">
                               {{approval.scope}}: {{approval.status}}
                               </span>
                </div>
            </div>
        </div>

        <ui-no-data ng-if="data.length==0"></ui-no-data>
    </ui-page-content>

    <div id="dialogForm" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span ng-if="formModel.id" ng-bind="'admin.modules.core.applications.editApp'|translate"></span>
                        <span ng-if="!formModel.id" ng-bind="'admin.modules.core.applications.addApp'|translate"></span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="form">
                        <md-input-container class="md-block">
                            <label ng-bind="'admin.modules.core.applications.fieldName'|translate"></label>
                            <input name="name" required ng-model="formModel.name"/>
                            <div ng-messages="form.name.$error">
                                <div ng-message="required" ng-bind="'common.msgRequired'|translate"></div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label ng-bind="'admin.modules.core.applications.fieldScope'|translate"></label>
                            <input name="scope" required ng-model="formModel.details.scope"/>
                            <div ng-messages="form.scope.$error">
                                <div ng-message="required" ng-bind="'common.msgRequired'|translate"></div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label ng-bind="'admin.modules.core.applications.fieldIcon'|translate"></label>
                            <input name="icon" ng-model="formModel.icon"/>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label ng-bind="'admin.modules.core.applications.fieldRedirectUri'|translate"></label>
                            <input name="redirectUri" required ng-model="formModel.details.webServerRedirectUri"/>
                            <div ng-messages="form.redirectUri.$error">
                                <div ng-message="required" ng-bind="'common.msgRequired'|translate"></div>
                            </div>
                        </md-input-container>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                            ng-bind="'common.close'|translate"></button>
                    <button type="button" class="btn btn-primary"
                            ng-disabled="form.$invalid"
                            ng-bind="'common.saveChanges'|translate"
                            ng-click="save()">
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
