<div ng-controller="FilesCtrl">
    <ui-page-header title="'admin.modules.core.files.title'"
                    breadcrumbs="[{'text': 'admin.modules.core.files.title'}]"></ui-page-header>
    <ui-page-content>
        <ui-page-content-header-left>
            <ui-search placeholder="admin.modules.core.files.searchByName"
                       on-cancel="cancelSearch()"
                       on-search="search(__model)"></ui-search>
        </ui-page-content-header-left>
        <ui-page-content-header-right>
            <ui-upload multiple label="common.file" url="/api/core/files/upload" on-item-success="uploaded(result)"></ui-upload>
        </ui-page-content-header-right>
        <ui-page-content-header-center>
            <span class="msg-block" ng-bind="'common.msgTotal'|translate: [(files | filter: {name: keywords}).length]"></span>
        </ui-page-content-header-center>

        <div class="col-sm-4 col-md-3" ng-repeat="item in files | filter: {name: keywords} | orderBy: '-createDate'">
            <div class="media hover radius padding-sm">
                <div class="media-left">
                    <i class="fa fa-lock text-warning" style="position:absolute;top:2px;left:18px;" ng-if="item.ref"></i>
                    <img class="media-object" ng-src="{{getFileIcon(item)}}" onerror="this.src='../static/assets/img/fileTypes/_blank.png'">
                </div>
                <div class="media-body">
                    <h4 class="media-heading nowrap">
                        <b ng-bind="item.name" title="{{item.fullname}}"></b>
                    </h4>
                    <small>
                        <span ng-bind="item.size/1024/1024 | number: 2"></span> MB
                        &nbsp;&nbsp;
                        <span ng-bind="item.createDate | appDateTime"></span>
                    </small>

                    <div class="hover-target" style="position: absolute; top:7px; right: 20px;">
                        <button class="btn btn-xs btn-block btn-default" ngclipboard ngclipboard-success="copied(item)" data-clipboard-text="{{item.url|path}}">
                            <i class="fa fa-clipboard"></i>
                            <span ng-bind="'admin.modules.core.files.copyUrl'|translate"></span>
                        </button>
                        <button class="btn btn-xs btn-block btn-default" ng-click="remove(item)" ng-if="!item.ref">
                            <i class="fa fa-trash-o"></i>
                            <span ng-bind="'common.delete'|translate"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ui-page-content>
</div>