<div ng-controller="UserProfileCtrl">
    <ui-page-header title="'admin.modules.core.userProfile.title'"
                    breadcrumbs="[{'text': 'admin.modules.core.userProfile.title'}]"></ui-page-header>

    <ui-page-content>
        <form name="mainForm" class="col-sm-8 col-sm-offset-2">
            <div class="row">
                <div class="col-xs-7">
                    <div class="row">
                        <div class="col-xs-6">
                            <ui-input name="realName"
                                      label="admin.modules.core.userProfile.labelRealName"
                                      ng-model="viewModel.realName"></ui-input>
                        </div>
                        <div class="form-group col-xs-6">
                            <label>&nbsp;</label>
                            <div class="form-control-static">
                                <md-radio-group layout="row" ng-model="viewModel.gender">
                                    <md-radio-button flex="1" value="1">
                                        {{'admin.modules.core.userProfile.valueMale'|translate}}
                                    </md-radio-button>
                                    <md-radio-button flex="1" value="0">
                                        {{'admin.modules.core.userProfile.valueFemale'|translate}}
                                    </md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                    </div>

                    <ui-input label="admin.modules.core.userProfile.labelEmail"
                              name="email"
                              type="email"
                              error-message="common.msgInvalidEmail"
                              ng-model="viewModel.email"></ui-input>

                    <div class="form-group">
                        <label ng-bind="'admin.modules.core.userProfile.labelBirthday'|translate"></label>
                        <input type="text" class="datepicker form-control" ng-model="viewModel.birthday" />
                    </div>
                    <button class="btn btn-flat btn-primary" ng-click="updateProfile()" ng-disabled="!mainForm.$valid">
                        {{'admin.modules.core.userProfile.updateProfile'|translate}}
                    </button>
                </div>
                <div class="col-xs-5">
                    <div class="text-center">
                        <img alt="User Image" class="img-radius" ng-src="{{user.avatar}}" style="width: 200px;">
                        <br />
                        <br />
                        <a class="btn btn-flat btn-default" ngf-select="uploadAvatar($file, $invalidFiles)"
                           accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                            {{'admin.modules.core.userProfile.uploadAvatar'|translate}}
                        </a>
                    </div>
                </div>
            </div>
        </form>

        <form name="pwdForm" class="col-sm-8 col-sm-offset-2">
            <h2 class="with-border">{{'admin.modules.core.userProfile.titleChangePassword'|translate}}</h2>
            <div class="row">
                <div class="col-xs-7">
                    <ui-input name="oldPassword" label="admin.modules.core.userProfile.oldPassword" type="password"
                              required="true" ng-model="pwdModel.oldPassword"></ui-input>
                    <ui-input name="newPassword" label="admin.modules.core.userProfile.newPassword" type="password"
                              required="true" ng-model="pwdModel.newPassword"></ui-input>
                    <ui-input name="confirmPassword" label="admin.modules.core.userProfile.confirmPassword" type="password"
                              has-error="pwdModel.newPassword != pwdModel.confirmPassword"
                              error-message="admin.modules.core.userProfile.unmatchedConfirmPassword"
                              required="true" ng-model="pwdModel.confirmPassword"></ui-input>
                    <div class="form-group">
                        <button type="button" class="btn btn-flat btn-primary" ng-disabled="pwdForm.$invalid || pwdModel.newPassword != pwdModel.confirmPassword" ng-click="changePassword()">
                            {{'admin.modules.core.userProfile.updatePassword'|translate}}
                        </button>
                    </div>
                </div>
                <div class="col-xs-5"></div>
            </div>
        </form>

    </ui-page-content>
</div>