<div ng-controller="UserProfileCtrl">
    <ui-page-header title="'admin.modules.core.userProfile.title'"
                    breadcrumbs="[{'text': 'admin.modules.core.userProfile.title'}]"></ui-page-header>

    <div class="padding">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-xs-4 padding-xs">
                    <div class="box box-info" style="height: 340px;">
                        <div class="box-header with-border">
                            <h3 class="box-title"
                                ng-bind="'admin.modules.core.userProfile.titleAvatar'|translate"></h3>
                        </div>
                        <div class="box-body text-center padding">
                            <br/>
                            <img alt="User Image" class="radius" ng-src="{{user.avatar|path}}"
                                 style="max-height: 150px;">
                            <br/>
                            <br/>
                            <br/>
                            <a class="btn btn-flat btn-default" ngf-select="uploadAvatar($file, $invalidFiles)"
                               accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                                {{'admin.modules.core.userProfile.uploadAvatar'|translate}}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8 padding-xs">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title"
                                ng-bind="'admin.modules.core.userProfile.titleGeneralInfo'|translate"></h3>
                        </div>
                        <div class="box-body">
                            <form name="mainForm">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <ui-input name="realName"
                                                  label="admin.modules.core.userProfile.labelRealName"
                                                  ng-model="viewModel.realName"></ui-input>
                                    </div>
                                    <div class="form-group col-xs-6">
                                        <label>&nbsp;</label>
                                        <div class="form-control-static">
                                            <md-radio-group layout="row" ng-model="viewModel.gender">
                                                <md-radio-button flex="1" value="1">
                                                    {{'admin.modules.core.userProfile.valueMale'|translate}}
                                                </md-radio-button>
                                                <md-radio-button flex="1" value="0">
                                                    {{'admin.modules.core.userProfile.valueFemale'|translate}}
                                                </md-radio-button>
                                            </md-radio-group>
                                        </div>
                                    </div>
                                </div>

                                <ui-input label="admin.modules.core.userProfile.labelEmail"
                                          name="email"
                                          type="email"
                                          error-message="common.msgInvalidEmail"
                                          ng-model="viewModel.email"></ui-input>

                                <div class="form-group">
                                    <label ng-bind="'admin.modules.core.userProfile.labelBirthday'|translate"></label>
                                    <input type="text" class="datepicker form-control"
                                           ng-model="viewModel.birthday"/>
                                </div>
                                <button class="btn btn-flat btn-primary" ng-click="updateProfile()"
                                        ui-wait-on="isUpdatingProfile" ng-disabled="!mainForm.$valid">
                                    {{'admin.modules.core.userProfile.updateProfile'|translate}}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 padding-xs">
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title"
                                ng-bind="'admin.modules.core.userProfile.titleChangePassword'|translate"></h3>
                        </div>
                        <div class="box-body">
                            <form name="pwdForm">
                                <ui-input name="oldPassword" label="admin.modules.core.userProfile.oldPassword"
                                          type="password"
                                          required="true" ng-model="pwdModel.oldPassword"></ui-input>
                                <ui-input name="newPassword" label="admin.modules.core.userProfile.newPassword"
                                          type="password"
                                          required="true" ng-model="pwdModel.newPassword"></ui-input>
                                <ui-input name="confirmPassword"
                                          label="admin.modules.core.userProfile.confirmPassword"
                                          type="password"
                                          has-error="pwdModel.newPassword != pwdModel.confirmPassword"
                                          error-message="admin.modules.core.userProfile.unmatchedConfirmPassword"
                                          required="true" ng-model="pwdModel.confirmPassword"></ui-input>
                                <button type="button" class="btn btn-flat btn-primary"
                                        ui-wait-on="isChangingPassword"
                                        ng-disabled="pwdForm.$invalid || pwdModel.newPassword != pwdModel.confirmPassword"
                                        ng-click="changePassword()">
                                    {{'admin.modules.core.userProfile.updatePassword'|translate}}
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>