<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="admin/layout/layout_adminlte">
<head>
    <title>Applications</title>
</head>
<body>
<div layout:fragment="content" ng-controller="ApplicationsCtrl">
    <section class="content-header">
        <h1>
            Applications
            <small>Installed</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Applications</li>
        </ol>
    </section>
    <section class="content">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Applications</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" ng-click="add()">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="item in data">
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" ng-src="{{item.icon}}"/>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a target="_blank" ng-href="{{item.accessUrl}}" ng-bind="item.name"></a>
                                    <a class="label label-success"
                                       title="Click to cancel authorization"
                                       ng-if="item.isAuthorized"
                                       ng-click="unauthorize(item)">Authorized</a>
                                </h4>
                                <span>Client ID: {{item.clientId}}</span>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-sm btn-primary"
                                    ng-click="edit(item)">
                                <i class="glyphicon glyphicon-edit"></i>
                            </button>
                            <button class="btn btn-sm btn-danger"
                                    ng-click="remove(item, $event)">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <div id="dialogForm" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">
                        <span ng-if="formModel.id">Edit Application</span>
                        <span ng-if="!formModel.id">Register Application</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <form name="form">
                        <md-input-container class="md-block">
                            <label>Name</label>
                            <input name="name" required ng-model="formModel.name"/>
                            <div ng-messages="form.name.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Icon</label>
                            <input name="icon" ng-model="formModel.icon"/>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Redirect Uri</label>
                            <input name="redirectUri" required ng-model="formModel.redirectUri"/>
                            <div ng-messages="form.redirectUri.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary"
                            ng-disabled="form.$invalid"
                            ng-click="save()">Save
                        changes
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block layout:fragment="scripts">
    <script>
			app.controller('ApplicationsCtrl', [
				'$scope', 'appDialog', '$http', 
				function($scope, appDialog, $http) {
					$scope.data = [];
					$scope.init = function () {
						$http.get('/api/v1/app/clients').then(function(res) {
							$scope.data = res.data;
							
							$http.get('/api/v1/app/users/clients').then(function(res){
								for(var idx in res.data) {
									for(var idx1 in $scope.data) {
										if(res.data[idx].clientId === $scope.data[idx1].clientId) {
											$scope.data[idx1].isAuthorized = true;
										}
									}
								}
							});
						});
					};
					$scope.add = function() {
						$scope.formModel = null;
						$('#dialogForm').modal('show');
					};
					$scope.edit = function(item) {
						$scope.formModel = angular.copy(item);
						$('#dialogForm').modal('show');
					};
					$scope.save = function() {
						if ($scope.formModel.id) {
							$http.put('/api/v1/app/clients/' + $scope.formModel.id, $scope.formModel).then(function(res){
								$scope.formModel = null;
								$('#dialogForm').modal('hide');
								$scope.init();
							});
						} else {
							$http.post('/api/v1/app/clients', $scope.formModel).then(function(res){
								$scope.formModel = null;
								$('#dialogForm').modal('hide');
								$scope.init();
							});
						}
					};
					$scope.remove = function(item) {
						appDialog.confirmDeletion(function(){
							$http.delete('/api/v1/app/clients/' + item.id).then(function(){
								$scope.data.splice($scope.data.indexOf(item), 1);
								appDialog.success();
							}, function() {
								appDialog.error();
							});
						});
					};
					$scope.unauthorize = function(item) {
						appDialog.confirm('Cancel Authorization', 'Are you sure to cancel authorization for this application?', function() {
							$http.put('/api/v1/app/users/removeapp?clientId=' + item.clientId).then(function(res) {
								item.isAuthorized = false;
							});
						});
					};
					
					$scope.init();
			} ]);

    </script>
</th:block>
</body>
</html>