<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="admin/layout/layout_adminlte">
<head>
<title>Admin Home</title>
</head>
<body>
	<div layout:fragment="content">
		<br>
		<br>
        <br>
		<div class="text-center fa-2x">
			<img th:src="${user.avatar}" class="img-circle" style="width:260px;" />
            <br />
			Welcome
            <span th:text="${user.username}"></span>.
		</div>
	</div>
</body>
</html>