<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
</head>
<body>
<!-- adminlte -->
<div th:fragment="lock" class="lockscreen">
    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo">
            <a href="http://bndy.net"><b>BNDY</b>.NET</a>
        </div>
        <div class="lockscreen-name" th:text="${user.username}"></div>

        <div class="lockscreen-item">
            <div class="lockscreen-image">
                <img th:src="@{${user.avatar}}" alt="User Image" class="user-avatar">
            </div>

            <form name="lockForm" method="post" class="lockscreen-credentials" ng-submit="unlockScreen()">
                <div class="input-group">
                    <input type="hidden" ng-value="username" th:attr="ng-init=${'username=''' + user.username + ''''}">
                    <input type="password" name="password" class="form-control" th:placeholder="#{sso.fieldPassword}" ng-model="password">

                    <div class="input-group-btn">
                        <button type="submit" class="btn"><i class="fa fa-arrow-right text-muted"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="error-message text-center text-danger" ng-if="unlockScreenError" th:text="#{sso.invalidPassword}"></div>
        <div class="help-block text-center" th:text="#{sso.lockScreenTip}"></div>
        <div class="text-center">
            <a th:href="@{/sso/login}" th:text="#{sso.orSwitchUser}"></a>
        </div>
        <div class="lockscreen-footer text-center">
            <th:block th:include="admin/partials/footers::footer-text"></th:block>
        </div>
    </div>
</div>
</body>
</html>