<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<head>
</head>

<body>
<!-- adminlte -->
<div th:fragment="controlSidebar">
    <aside class="control-sidebar">
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li class="active">
                <a href="#control-sidebar-ui-tab" data-toggle="tab">
                    <i class="fa fa-wrench"></i>
                </a>
            </li>
            <li>
                <a href="#control-sidebar-settings-tab" data-toggle="tab">
                    <i class="fa fa-gears"></i>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="control-sidebar-ui-tab">
                <h4 class="control-sidebar-heading" th:text="#{skins.title}">Skins</h4>
                <ul class="list-unstyled clearfix skin-list">
                    <li>
                        <a href="javascript:void(0)" data-skin="skin-blue" class="clearfix full-opacity-hover">
                            <div>
                                <span style="background: #367fa9"></span>
                                <span class="bg-light-blue"></span>
                            </div>
                            <div>
                                <span style="background: #222d32"></span>
                                <span style="background: #f4f5f7"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin" th:text="#{skins.blue}">Blue</p>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-skin="skin-black" class="clearfix full-opacity-hover">
                            <div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix">
                                <span style="background: #fefefe"></span>
                                <span style=" background: #fefefe"></span>
                            </div>
                            <div>
                                <span style="background: #222"></span>
                                <span style="background: #f4f5f7"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin" th:text="#{skins.black}">Black</p>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-skin="skin-purple" class="clearfix full-opacity-hover">
                            <div>
                                <span class="bg-purple-active"></span>
                                <span class="bg-purple"></span>
                            </div>
                            <div>
                                <span style="background: #222d32"></span>
                                <span style="background: #f4f5f7"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin" th:text="#{skins.purple}">Purple</p>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-skin="skin-green" class="clearfix full-opacity-hover">
                            <div>
                                <span class="bg-green-active"></span>
                                <span class="bg-green"></span>
                            </div>
                            <div>
                                <span style="background: #222d32"></span>
                                <span style="background: #f4f5f7"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin" th:text="#{skins.green}">Green</p>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-skin="skin-red" class="clearfix full-opacity-hover">
                            <div>
                                <span class="bg-red-active"></span>
                                <span class="bg-red"></span>
                            </div>
                            <div>
                                <span style="background: #222d32"></span>
                                <span style="background: #f4f5f7"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin" th:text="#{skins.red}">Red</p>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-skin="skin-yellow" class="clearfix full-opacity-hover">
                            <div>
                                <span class="bg-yellow-active"></span>
                                <span class="bg-yellow"></span>
                            </div>
                            <div>
                                <span style="background: #222d32"></span>
                                <span style="background: #f4f5f7"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin" th:text="#{skins.yellow}">Yellow</p>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-skin="skin-blue-light" class="clearfix full-opacity-hover">
                            <div>
                                <span style="background: #367fa9"></span>
                                <span class="bg-light-blue"></span>
                            </div>
                            <div>
                                <span style="background: #f9fafc"></span>
                                <span style="background: #f4f5f7"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin" style="font-size: 12px" th:text="#{skins.blueLight}">Blue Light
                        </p>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-skin="skin-black-light" class="clearfix full-opacity-hover">
                            <div style="box-shadow: 0 0 2px rgba(0,0,0,0.1)" class="clearfix">
                                <span style="background: #fefefe"></span>
                                <span style=" background: #fefefe"></span>
                            </div>
                            <div>
                                <span style="background: #f9fafc"></span>
                                <span style="background: #f4f5f7"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin" style="font-size: 12px" th:text="#{skins.blackLight}">Black Light
                        </p>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-skin="skin-purple-light" class="clearfix full-opacity-hover">
                            <div>
                                <span class="bg-purple-active"></span>
                                <span class="bg-purple"></span>
                            </div>
                            <div>
                                <span style="background: #f9fafc"></span>
                                <span style="background: #f4f5f7"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin" style="font-size: 12px" th:text="#{skins.purpleLight}">Purple Light
                        </p>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-skin="skin-green-light" class="clearfix full-opacity-hover">
                            <div>
                                <span class="bg-green-active"></span>
                                <span class="bg-green"></span>
                            </div>
                            <div>
                                <span style="background: #f9fafc"></span>
                                <span style="background: #f4f5f7"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin" style="font-size: 12px" th:text="#{skins.greenLight}">Green Light
                        </p>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-skin="skin-red-light" class="clearfix full-opacity-hover">
                            <div>
                                <span class="bg-red-active"></span>
                                <span class="bg-red"></span>
                            </div>
                            <div>
                                <span style="background: #f9fafc"></span>
                                <span style="background: #f4f5f7"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin" style="font-size: 12px" th:text="#{skins.redLight}">Red Light
                        </p>
                    </li>
                    <li>
                        <a href="javascript:void(0)" data-skin="skin-yellow-light" class="clearfix full-opacity-hover">
                            <div>
                                <span class="bg-yellow-active"></span>
                                <span class="bg-yellow"></span>
                            </div>
                            <div>
                                <span style="background: #f9fafc"></span>
                                <span style="background: #f4f5f7"></span>
                            </div>
                        </a>
                        <p class="text-center no-margin" style="font-size: 12px" th:text="#{skins.yellowLight}">Yellow Light
                        </p>
                    </li>
                </ul>
            </div>
            <div class="tab-pane" id="control-sidebar-settings-tab">
                <form method="post">
                    <h3 class="control-sidebar-heading" th:text="#{admin.controlSidebar.settings.general.title}"></h3>
                    <div class="form-group">
                        <label class="control-sidebar-subheading" th:text="#{admin.controlSidebar.settings.general.page}"></label>
                        <select class="form-control input-sm">
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            <span th:text="#{admin.controlSidebar.settings.general.language}"></span> -
                            <small th:text="#{admin.controlSidebar.settings.general.languageDes}"></small>
                        </label>
                        <select id="LanguageOptions" class="form-control input-sm">
                            <option value="en_US" selected>English</option>
                            <option value="zh_CN" th:selected="${locale == 'zh_CN'}">简体中文</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </aside>
    <div class="control-sidebar-bg"></div>
</div>
</body>

</html>