<div ng-controller="ChannelsCtrl">
    <ui-page-header title="'admin.modules.cms.channels.title'"
                    subtitle="'admin.modules.cms.channels.subtitle'"
                    breadcrumbs="[{'text': 'admin.modules.cms.channels.title'}]"></ui-page-header>

    <ui-page-content>
        <ui-page-content-header-right>
            <button type="button" class="btn btn-sm btn-primary" ng-click="add()"
                    ng-bind="'admin.modules.cms.channels.addChannel'|translate"></button>
        </ui-page-content-header-right>
        <div class="tree">
            <div ng-include="'itemTpl'"
                 ng-repeat="item in channels | filter: {path: '/'}: true">
            </div>
        </div>
    </ui-page-content>

    <script type="text/ng-template" id="itemTpl">
        <div class="tree-item with-border hover indent{{item.__level}}" ng-class="{'disabled': !item.visible}">
            <div class="pull-left">
                {{item.__level}}
                <span ng-bind="item.name"></span>
            </div>
            <div class="pull-right">
                <ui-actions ng-model="item"
                            on-add="add(__model)"
                            on-edit="edit(__model)"
                            on-remove="remove(__model)"
                            on-toggle-visible="toggleVisible(__model)"></ui-actions>
            </div>
            <div class="pull-right col-xs-4 text-center" ng-bind="item.boType"></div>
            <div class="clearfix"></div>
        </div>
        <div class="child-box">
            <div ng-include="'itemTpl'"
                 ng-repeat="item in channels | filter: {path: item.path + item.id + '/'}: true">
            </div>
        </div>
    </script>
    <ui-dialog title="{{formModel.id ? 'admin.modules.cms.channels.editChannel' : 'admin.modules.cms.channels.addChannel'}}">
        <form name="form">
            <md-input-container class="md-block">
                <label>
                    <span ng-bind="'admin.modules.cms.channels.fieldName'|translate"></span>
                    <span ng-if="formModel.parent">({{'admin.modules.cms.channels.fieldParentChanel'|translate}}: <span ng-bind="formModel.parent.name"}></span>)</span>
                </label>
                <input name="name" required ng-model="formModel.name"/>
                <div ng-messages="form.name.$error">
                    <div ng-message="required" ng-bind="'common.msgRequired'|translate"></div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>
                    <span ng-bind="'admin.modules.core.menus.fieldBoType'|translate"></span>
                </label>
                <md-select ng-model="selectedBoType" ng-change="selectBoType()"
                           placeholder="{{'admin.modules.cms.channels.msgSelectBoType'|translate}}">
                    <md-option ng-repeat="item in boTypes" ng-value="item">
                        <i class="fa fa-fw fa-circle-o"></i>
                        <span ng-bind="item.name"></span>
                    </md-option>
                </md-select>
            </md-input-container>
        </form>
        <ui-dialog-footer>
            <div class="pull-left">
                <md-switch class="md-primary no-margin" ng-model="formModel.visible">
                    <span ng-bind="'admin.modules.cms.channels.fieldVisible'|translate"></span>
                </md-switch>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-primary"
                        ng-disabled="form.$invalid"
                        ng-bind="'common.saveChanges'|translate"
                        ng-click="save()">
                </button>
            </div>
        </ui-dialog-footer>
    </ui-dialog>
</div>
