<div ng-controller="PageCtrl">
    <ui-page-header title="viewModel.title"
                    breadcrumbs="[{'text': viewModel.title}]"></ui-page-header>

    <ui-page-content ng-if="viewModel.id">
        <ui-page-content-header-right>
            <a target="_blank" class="btn btn-sm btn-default" href="{{'/page/' + viewModel.channel.nameKey | path}}">
                <i class="fa fa-fw fa-internet-explorer" aria-hidden="true"></i>
                <span ng-bind="'common.preview'|translate"></span>
            </a>
            <button type="button" class="btn btn-sm btn-primary" ng-click="save()" ui-wait-on="isSaving">
                <i class="fa fa-fw fa-save"></i>
                <span ng-bind="'common.saveChanges'|translate"></span>
            </button>
        </ui-page-content-header-right>

        <div>
            <div class="form-group">
                <ui-html-editor ng-model="viewModel.content"></ui-html-editor>
            </div>
            <div class="form-group" ng-if="viewModel.attachments && viewModel.attachments.length > 0">
                <div class="tag" ng-repeat="item in viewModel.attachments">
                    <a href="{{'/files/' + item.uuid | path }}" target="_blank">
                        <b ng-bind="item.fullname"></b>
                    </a>
                    <small>
                        ({{item.size/1024/1024|number:2}} MB, {{item.createTime|appDateTime}})
                    </small>
                    <a class="text-danger pull-right" ng-click="removeAttachment(item)">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>
            </div>

            <div class="form-group">
                <ui-upload multiple label="common.attachments" url="/api/cms/pages/upload" on-item-success="uploaded(result)"></ui-upload>
            </div>
        </div>

    </ui-page-content>
</div>