<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="public/_layout">
<head>
    <title th:text="${channel.name}"></title>
</head>
<body>
    <div class="page-body" layout:fragment="content">
        <div class="banner">
            <img th:src="@{/static/assets/img/banner3.png}" />
        </div>

         <div class="content">
            <div class="container">
                <div class="page-heading text-center">
                    <h1>
                        <span th:text="${channel.name}"></span>
                    </h1>
                    <hr>
                </div>
                <ul>
                    <li th:each="item: ${model.content}">
                        <a th:href="@{/article/{key}(key=${item.titleKey == null} ? ${item.id} : ${item.titleKey})}">
                            <h4 th:text="${item.title}"></h4>
                        </a>
                    </li>
                </ul>
            </div>
         </div>
    </div>
</body>
</html>