<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="public/_layout">
<head>
    <title th:text="${pageTitle}"></title>
</head>
<body>
    <div class="page-body" layout:fragment="content">
        <div class="banner">
            <img th:src="@{/static/assets/img/banner3.png}" />
        </div>

        <div class="content">
            <div class="container">
                <div class="page-heading text-center">
                    <h1 th:text="${model.title}"></h1>
                    <p class="text-muted"></p>
                    <hr>
                </div>

                <div th:utext="${model.content}"></div>

                <th:block th:each="item: ${model.attachments}">
                    <a class="tag tag-inline" th:href="@{'/files/' + ${item.uuid}}" target="_blank">
                        <span th:text="${item.name}"></span>.<span th:text="${item.extName}"></span>
                    </a>
                </th:block>
            </div>
        </div>
    </div>
</body>
</html>