<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="common/layout">
<head>
<title>Error</title>
</head>
<body class="page-onebox">
	<div layout:fragment="body">
		<div class="panel panel-danger">
			<div class="panel-body text-center">
                <img class="logo" src="/static/assets/img/logo.png" />
				<h1 th:text="${title}"></h1>
				<p th:utext="${message}"></p>
					
				<div th:inline="text" style="display:none;" th:if="${exception!=null}">
					Failed URL: [[${url}]] <br />
					Exception: [[${exception.message}]] <br />
					[[${exception.stackTrace}]]
				</div>
			</div>
			<div class="panel-footer text-center">
				<div th:replace="common/footer::footer"></div>
			</div>
		</div>
	</div>
</body>
</html>