a {
    cursor: pointer;
}

.list-group {
    .list-group-item {
        img.media-object {
            width: 112px;
        }
        .pull-right {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }
}

.table {
    td img {
        height: 28px;
        position: relative;
        top: -4px;
    }
}