html,
body {
  height: 100%;
}

a {
  cursor: pointer;
}


/* AdminLTE */

.lockscreen {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  .error-message {
    position: absolute;
    margin-top: .5rem;
  }
}

.navbar-nav {
  display: inline-table; // fix new line in safari
  &>.messages-menu>.dropdown-menu>li .menu>li>a> {
    h4,
    p {
      margin-left: 0;
    }
  }
}

.messages-menu {
  li {
    h3 {
      margin: 0 0 10px 0;
      font-size: 14px;
    }
    .progress {
      margin-bottom: 0;
    }
    .pull-left {
      &+h4 {
        margin-left: 45px;
        &+p {
          margin-left: 45px;
        }
      }
    }
  }
}

.control-sidebar {
  .form-group {
    clear: both;
    .pull-right {
      .input-sm {}
    }
  }
  ul.skin-list {
    &>li {
      float: left;
      width: 50%;
      padding: 5px 10px;
      &>a {
        display: block;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
        &>div {
          &>span:first-child {
            display: block;
            width: 20%;
            float: left;
          }
          &>span:last-child {
            display: block;
            width: 80%;
            float: left;
          }
          &:first-child {
            &>span {
              height: 7px;
            }
          }
          &:last-child {
            &>span {
              height: 33px;
            }
          }
        }
      }
    }
  }
  &.control-sidebar-dark {
    ul.skin-list {
      &>li {
        &>a {
            box-shadow: none;
            border: solid 1px #cacaca;
        }
      }
    }
  }
}

.content {
  & > .box-default {
    margin-bottom: 0;
    min-height: calc(100vh - 175px);
  }
}

.box-body {
  &>form {
    padding: 1rem 2rem;
  }
}


/* Bootstrap */

.list-group {
  .list-group-item {
    img.media-object {
      width: 112px;
    }
    .pull-right {
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }
}

.form-control-static {
  &.iradio {
    position: relative;
    top: -3px;
  }
}

.table {
  td {
    img {
      height: 28px;
      position: relative;
      top: -4px;
    }
    a {
      i {
        font-size: 1rem;
        padding: .25rem;
      }
    }
  }
  &+.bn-ui-pager {
    .summary {
      margin-top: 3px;
      margin-left: 8px;
    }
    .pagination>li>a,
    .pagination>li>span {
      padding: 2px 8px;
    }
  }
}

.modal-dialog {
  margin-top: 150px;
}


/* angularjs material */

// fix: dialog shadow lay need to cover sidebar and header
md-backdrop.md-dialog-backdrop {
  z-index: 1200;
}
.md-dialog-container {
  z-index: 9999;

  md-dialog {
    margin-top: -100px;
  }
}

/* override others */
.datepicker {
  padding: 6px 12px;
}

/* misc */
.no-scroll {
  overflow: hidden;
}

.img-radius {
  border-radius: 5px;
}

.search-box {
  width: 260px;
  margin-right: 1rem;
}

.no-data-box {
  padding: 5rem;
  color: #666666;
}