html,
body {
    height: 100%;
}

a {
    cursor: pointer;
}


/* AdminLTE */

.lockscreen {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    .error-message {
        position: absolute;
        margin-top: .5rem;
    }
}

.navbar-nav {
    display: inline-table;  // fix new line in safari
    &>.messages-menu>.dropdown-menu>li .menu>li>a> {
        h4,
        p {
            margin-left: 0;
        }
    }
}

.messages-menu {
    li {
        h3 {
            margin: 0 0 10px 0;
            font-size: 14px;
        }
        .progress {
            margin-bottom: 0;
        }
        .pull-left {
            &+h4 {
                margin-left: 45px;
                &+p {
                    margin-left: 45px;
                }
            }
        }
    }
}

.control-sidebar {
    .form-group {
        clear: both;
        .pull-right {
            .input-sm {}
        }
    }
}


/* Bootstrap */

.list-group {
    .list-group-item {
        img.media-object {
            width: 112px;
        }
        .pull-right {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }
}

.table {
    td {
        img {
            height: 28px;
            position: relative;
            top: -4px;
        }

        a {
            i {
                font-size: 1rem;
                padding: .25rem;
            }
        }
    }
    &+.bn-ui-pager {
        .summary {
            margin-top: 3px;
            margin-left: 8px;
        }
        .pagination>li>a,
        .pagination>li>span {
            padding: 2px 8px;
        }
    }
}


/* angularjs material */

// fix: dialog shadow lay need to cover sidebar and header
.md-dialog-container {
    z-index: 999;
}


/* misc */

.no-scroll {
    overflow: hidden;
}