<link rel="stylesheet" type="text/css" href="https://projects.spring.io/spring-boot/css/projects.css.css" />
<link rel="stylesheet" type="text/css" href="https://projects.spring.io/spring-boot/css/main.css.css" />
<link rel="stylesheet" type="text/css" href="https://projects.spring.io/spring-boot/css/typography.css.css" />
<link rel="stylesheet" type="text/css" href="https://projects.spring.io/spring-boot/css/icons.css.css" />
<link rel="stylesheet" type="text/css" href="https://projects.spring.io/spring-boot/css/projects.css.css" />
<link rel="stylesheet" type="text/css" href="https://projects.spring.io/spring-boot/css/buttons.css.css" />
<link rel="stylesheet" type="text/css" href="https://projects.spring.io/spring-boot/css/guide.css.css" />
<link rel="stylesheet" type="text/css" href="https://projects.spring.io/spring-boot/css/highlight.css.css" />
<div class="billboard--wrapper project-header--wrapper">
  <div class="billboard--container">
    <div class="project-icon">
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-xs-8 billboard--area">
          <br><br><br><br><br>
          <div class="project--title">Spring Boot
            <div class="project--links--container">
              <a href="https://github.com/spring-projects/spring-boot" class="project-link">
                <i class="icon-github"></i>
              </a>
            </div>
          </div>
          <div class="project--description">
            <p>Takes an opinionated view of building production-ready Spring applications. Spring Boot favors convention over
              configuration and is designed to get you up and running as quickly as possible.</p>
          </div>
          <a class="btn btn-black uppercase project-quickstart-btn" href="#quick-start">Quick Start</a>
        </div>
      </div>
    </div>
  </div>
</div>